.lowerSection {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: start;
  margin: 70px 10%;
}

.content_Box {
  background-color: #202c38;
  width: 654px;
  height: auto;
  border-radius: 20px;
  margin: auto;
}



.content {
  max-width: 546px;
  margin: auto;
}

.time_table {
  max-width: 546px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.inner_table {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sNo {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  border: 1px solid white;
}

.agenda {
  font-size: 20px;
  max-width: 350px;
}

.line {
  border-bottom: 3px dashed;
  border-top: none;
}

.btn {
  position: relative;
  left: 50%;
  margin-bottom: 40px;
  transform: translateX(-50%);
  width: 164px;
  height: 56px;
  border: 3px solid #7a27ca;
  background-color: transparent;
  border-radius: 8px;
  font-size: 18px;
  color: white;
}

.feature_Box {
  max-width: 520px;
  margin: -10px auto;
}

ul {
  padding-bottom: 20px;
  padding-left: 45px;
}

li {
  font-size: 18px;
  line-height: 35px;
  width: 300px;
}

.box_1 {
  background-color: #33307b;
  margin: -10px auto 0 auto;
  border-radius: 12px;
  padding-top: -10px;
  margin-top: 10px;
}

.image {
  width: 35px;
  height: 35px;
  padding: 5px 5px 5px 7px;
  border: 1px solid orange;
  border-radius: 50%;
}

.image1 {
  position: relative;
  top: 10px;
  left: -35px;
}

.image2 {
  position: relative;
  top: 10px;
  left: -28px;
}

.feature_heading1 {
  margin-top: -30px;
  margin-bottom: -10px;
  padding-left: 25px;
}

.box_2 {
  background-color: #27295b;
  margin: 17px auto;
  padding: 10px;
  border-radius: 12px;
}

.box_3 {
  background-color: #1d243f;
  margin: 17px auto;
  padding: 10px;
  border-radius: 12px;
}

.price_container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 35px;
  align-items: center;
  color: white;
}

.price {
  font-size: 28px;
}

.price_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10px;
}

.cross {
  text-decoration: line-through;
}

.buyNowBtn {
  background-image: linear-gradient(#b25aff, #7a27ca);
  width: 360px;
  height: 56px;
  align-items: center;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

@media only screen and (max-width: 1500px) and (min-width: 1050px) {
  .lowerSection {
    gap: 10px;
    margin-bottom: 70px;
  }

  .content_Box {
    width: 50%;
  }

  .content {
    width: 80%;
    margin-top: -20px;
  }

  .time_table {
    width: 100%;
  }

  .sNo {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 4xp;
    border-radius: 50%;
  }

  .inner_table {
    width: 150%;
    font-size: 18px;
  }

  .agenda {
    font-size: 18px;
    width: 80%;
  }

  .feature_Box {
    margin-top: -10px;
    width: 40%;
  }

  .price_container {
    justify-content: space-between;
  }

  .buyNowBtn {
    width: 200px;
  }
}

@media screen and (max-width: 870px) and (min-width: 280px) {
  .lowerSection {
    width: 100%;
    margin: 0 auto 40px 0;
  }

  .content_Box {
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
  }

  .time_table {
    max-width: 100%;
  }

  .agenda {
    font-size: 14px;
    width: 80%;
  }

  .sNo {
    width: 20px;
    height: 20px;
    padding: 4px;
  }

  .time {
    font-size: 12px;
  }

  .feature_Box {
    width: 80%;
  }

  .feature_heading1 {
    font-size: 20px;
  }

  .image {
    width: 30px;
    height: 30px;
  }

  .image1 {
    left: -30px;
  }

  .image2 {
    left: -22px;
  }

  ul {
    padding-bottom: 10px;
    padding-left: 35px;
  }

  li {
    font-size: 15px;
    width: 80%;
  }

  .price_container {
    justify-content: space-between;
  }

  .buyNowBtn {
    width: 270px;
    height: 56px;


  }
}

@media screen and (min-width: 550px) and (max-width: 869px) {
  .buyNowBtn {
    width: 250px;
  }
}

@media screen and (max-width: 549px) and (min-width: 400px) {
  .buyNowBtn {
    width: 170px;
  }
}

@media screen and (max-width: 399px) {
  .buyNowBtn {
    width: 130px;
  }
}
