@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@100;300;400&display=swap');
body {
  background-color: #16202a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
p,
ul,
li {
  color: white;
}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
  color: white;
}
