@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../src/assets/font/Gilroy-ExtraBold.otf");
}
font-family {
  font-family: "Gilroy-Light";
  src: url("../src/assets/font/Gilroy-ExtraBold.otf");
}

body {
  background-color: #16202a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
p,
ul,
li {
  color: white; font-family: 'Gilroy-Light', sans-serif;
}

h1 {
  font-size: 28px;
   font-family: 'Gilroy-Bold', sans-serif;
}

h3 {
  font-size: 28px; font-family: 'Gilroy-Bold', sans-serif;
}
h4 {
  font-size: 20px;
  color: white;
}
